#################################################################################################
# SAFT_BMM spezifischer Codeteil - über include in der fhem.cfg eingebunden
# 00_SAFT_BMM.cfg
# 
################################################################################################
#
# Logfile wird fhem-extern erzeut und wird hier als fakelog eingebunden,
# um aus fhme heraus auf das File zugreifen zu können
#
# Fake FileLog entry, to access Log File from ESS 

define SAFT_BMM_Logfile FileLog ./log/SAFT_BMM-%Y-%m.log FakeLog
setuuid SAFT_BMM_Logfile 66978ceb-f33f-3e5d-7dd6-3983288447f8ef99
attr SAFT_BMM_Logfile createGluedFile 1
attr SAFT_BMM_Logfile group 1_external Logfiles
attr SAFT_BMM_Logfile icon edit_copy
attr SAFT_BMM_Logfile room SYSTEM

define SVG_SAFT_BMM_Logfile_1 SVG SAFT_BMM_Logfile:SVG_SAFT_BMM_Logfile_1:CURRENT
setuuid SVG_SAFT_BMM_Logfile_1 6697d746-f33f-3e5d-40af-492b3c09b1651d51
attr SVG_SAFT_BMM_Logfile_1 captionPos auto
attr SVG_SAFT_BMM_Logfile_1 endPlotNow 1
attr SVG_SAFT_BMM_Logfile_1 label "SOC Last: $data{currval1}%  SOC_Max: $data{max1}%  SOC_Min: $data{min1}%  V-BAT: $data{currval2} V "
attr SVG_SAFT_BMM_Logfile_1 room BMM

define SVG_SAFT_BMM_Logfile_2 SVG SAFT_BMM_Logfile:SVG_SAFT_BMM_Logfile_2:CURRENT
setuuid SVG_SAFT_BMM_Logfile_2 6697e75d-f33f-3e5d-c32d-bbc5d34d1dd792c5
attr SVG_SAFT_BMM_Logfile_2 endPlotNow 1
attr SVG_SAFT_BMM_Logfile_2 label "Strom: $data{currval1}A Strom_Max: $data{max1}A  Strom_Min: $data{min1}A"
attr SVG_SAFT_BMM_Logfile_2 room BMM

define SVG_SAFT_BMM_Logfile_3 SVG SAFT_BMM_Logfile:SVG_SAFT_BMM_Logfile_3:CURRENT
setuuid SVG_SAFT_BMM_Logfile_3 6697e812-f33f-3e5d-b80e-126fdae403875259
attr SVG_SAFT_BMM_Logfile_3 captionPos auto
attr SVG_SAFT_BMM_Logfile_3 endPlotNow 1
attr SVG_SAFT_BMM_Logfile_3 label "IMD: $data{currval1}A    VMD: $data{currval2}V "
attr SVG_SAFT_BMM_Logfile_3 room BMM

define SVG_SAFT_BMM_Logfile_4 SVG SAFT_BMM_Logfile:SVG_SAFT_BMM_Logfile_4:CURRENT
setuuid SVG_SAFT_BMM_Logfile_4 669819de-f33f-3e5d-dd39-d39b51430ed6f5d9
attr SVG_SAFT_BMM_Logfile_4 endPlotNow 1
attr SVG_SAFT_BMM_Logfile_4 label "PMD: $data{currval1}W"
attr SVG_SAFT_BMM_Logfile_4 room BMM

define SVG_SAFT_BMM_Logfile_5 SVG SAFT_BMM_Logfile:SVG_SAFT_BMM_Logfile_5:CURRENT
setuuid SVG_SAFT_BMM_Logfile_5 66983cf7-f33f-3e5d-7e53-622e6f45e9dff28c
attr SVG_SAFT_BMM_Logfile_5 captionPos auto
attr SVG_SAFT_BMM_Logfile_5 endPlotNow 1
attr SVG_SAFT_BMM_Logfile_5 label "IMR: $data{currval1}A   IMR_Max: $data{max1}A  IMR_Min: $data{min1}A.VMR: $data{currval2}V "
attr SVG_SAFT_BMM_Logfile_5 room BMM

define SVG_SAFT_BMM_Logfile_6 SVG SAFT_BMM_Logfile:SVG_SAFT_BMM_Logfile_6:CURRENT
setuuid SVG_SAFT_BMM_Logfile_6 66983ea9-f33f-3e5d-ce85-cc850f2df978f5d3
attr SVG_SAFT_BMM_Logfile_6 endPlotNow 1
attr SVG_SAFT_BMM_Logfile_6 room BMM


define watch_SAFT_BMM_Logfile_update inotify /opt/fhem/log/ SAFT_BMM.*
setuuid watch_SAFT_BMM_Logfile_update 66aa126f-f33f-3e5d-aed8-a548afdf693609d0
attr watch_SAFT_BMM_Logfile_update group 2_create event at Logfile changes
attr watch_SAFT_BMM_Logfile_update mask IN_MODIFY
attr watch_SAFT_BMM_Logfile_update room SYSTEM
attr watch_SAFT_BMM_Logfile_update verbose 3


define watch_SAFT_BMM_Logfile_update_notify_1 notify watch_SAFT_BMM_Logfile_update:lastEventMask:.IN_MODIFY {create_SAFT_BMM_Readings("SAFT_BMM_Readings")}
setuuid watch_SAFT_BMM_Logfile_update_notify_1 66aa72b6-f33f-3e5d-4eee-ccf38a9ba8962a5a
attr watch_SAFT_BMM_Logfile_update_notify_1 group 3_act on events
attr watch_SAFT_BMM_Logfile_update_notify_1 room SYSTEM

define SAFT_BMM_Readings dummy
setuuid SAFT_BMM_Readings 66aa7330-f33f-3e5d-0e7c-a53bbf56d63642b7
attr SAFT_BMM_Readings group 4_devive with readings
attr SAFT_BMM_Readings icon measure_battery_75
attr SAFT_BMM_Readings mqttAlias SAFT_BMM_Readings
attr SAFT_BMM_Readings mqttPublish *:topic={"fhem/SAFT_BMM_Readings/$reading"}
attr SAFT_BMM_Readings room BMM,SYSTEM
attr SAFT_BMM_Readings stateFormat SOC:       [$name:00_SOC:d0] %   <br> \
Vbat:      [$name:01_internalBatteryVoltage:d0] V <br>\
Strom:     [$name:02_internalBatteryCurrent:d2] A


